@charset "ISO-8859-1";body{
	margin:0;

}	
	
	.erreur{
	border: 1px solid red;
}

.mepLabel{
	display: inline-block;
	width: 300px;

}

.mepInput{
	width: 300px;
	margin-top: 15px;

}

header{
	width: 250px;
	height: auto;
	position : fixed;
	margin-left: 3%;
	margin-top: 3%;
}

article{
	position: absolute;
	margin-left: 20%;
	background-color: white;
}

.titreCategorie{
	width: 200px;
	text-align: right;
	
}

